/*:required {
   border: 1px solid red;
}*/


/******************** user index page ********************/

.navbar-custom {
  background-color: #009973;
}

div.jumbotron {
  margin-top: 150px;
}

/*text on navbar*/
a#text {
  padding: 20px;
  font-size: 28px;
  text-decoration: none;
}

/*text on navbar*/
a#text:hover {
  color: white;
}

/*like buttons on the bottom left hand of usercard*/
button.btn.btn-outline-secondary {
  position:absolute;
  bottom:0;
  right:0;
  margin-right: 17px;
  margin-bottom: 16px;

}

/*like buttons on the bottom left hand of usercard*/
div.thumbnail.box {
  position: relative;
}

div.thumbnail.box h6, div.thumbnail.box h5 {
margin-bottom: 16px;
}

div.thumbnail.box h6.state {
margin-bottom: 56px;
}




#text {
  color: #e6e6e6;
}

#title {
  background-color: #ffffff
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 30px;
  background-color: #ffffff;
  color: #fff;
}

.box {
  background-color: #fff;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: 5px solid #f2f2f2;
}

/********************* user show page *********************/

/*#show-user-detail {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 10px;
}*/

.img-responsive {
  max-height: 500px;
  max-width: 350px;
}

/*********************  new user  ********************/

.save-user-button {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 180px
}

  /*********************  new comment  ********************/

  .form-group {
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 200px;
  }

  .upload-comment-button {
    margin-top: 10px;
    margin-bottom: 50px;
  }
